// partials
@import './partials/variables.scss';
// @import './partials/mixins.scss';
@import './partials/base.scss';

// components;
@import './components/header.scss';
@import './components/home.scss';

