body {
  height: 100%; }

.sub-head-container {
  margin-left: 1%;
  margin-right: 1%;
  padding: 0; }
  .sub-head-container .sub-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .sub-head-container .sub-head .trailName {
      font-size: 20px; }

.mappy {
  display: flex;
  justify-content: center; }
  .mappy ng-map {
    height: 31rem;
    width: 100%;
    padding: 0; }

.GOOD {
  background-color: #00E363; }

.CAUTION {
  background-color: #FFE63B;
  color: black; }

.DANGER {
  background-color: #FF0053; }

.HURRICANE {
  background-color: black; }

.hike-status-container {
  width: 100vw;
  color: white; }

.hike-timestamp-container {
  border-bottom: 1px solid #e9e5e5;
  color: grey;
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.weatherTrio {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hike-details-container {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0; }

.navBar {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between; }
  .navBar a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease; }
  .navBar #menuToggle {
    display: block;
    position: relative;
    left: -17px;
    top: -13px;
    z-index: 1; }
  .navBar #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    top: 7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  .navBar #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fdfbfb;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .navBar #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  .navBar #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  .navBar #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #5e5c5c; }
  .navBar #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  .navBar #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  .navBar #menu {
    width: 150px;
    margin: -90px 0 0 -107px;
    padding-top: 95px;
    background: #faf7f7;
    list-style-type: none;
    color: #5e5c5c;
    box-shadow: 10px 10px 2px 1px rgba(154, 154, 245, 0.151);
    z-index: 40;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .navBar #menu li {
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    -webkit-transition: font-size 0.4s; }
    .navBar #menu li:hover {
      transition: 0.4s;
      font-size: 1.2rem;
      color: #5e5c5c; }
  .navBar #menuToggle input:checked ~ ul {
    transform: none; }
