.sub-head-container {
  margin-left: 1%;
  margin-right: 1%;
  padding: 0; }
  .sub-head-container .sub-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .sub-head-container .sub-head .hike-length {
      margin-top: 10px; }

.mappy {
  display: flex;
  justify-content: center; }
  .mappy ng-map {
    height: 25rem;
    width: 95%;
    padding: 0;
    z-index: 3; }

.GOOD {
  background-color: #53b653; }

.CAUTION {
  background-color: #ee792b; }

.DANGER {
  background-color: red; }

.HURRICANE {
  background-color: black; }

.hike-status-container {
  width: 100vw;
  color: white; }

.hike-timestamp-container {
  border-bottom: 1px solid grey;
  color: grey;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%; }

.sun-rise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0; }
  .sun-rise-container .sunrise-row {
    display: flex;
    border-bottom: 1px solid grey; }
    .sun-rise-container .sunrise-row .sunrise {
      display: flex;
      justify-content: space-around; }
    .sun-rise-container .sunrise-row .sunset {
      display: flex;
      justify-content: space-around; }

.hike-details-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 1rem; }
  .hike-details-container .hike-details-row {
    display: flex;
    justify-content: center; }

a {
  display: none; }
