@import '../partials/variables.scss';
@import '../partials/mixins.scss';

.slideshow-wrapper {
  display: flex;
}

.slideshow-container {
  max-width: 600px;
  margin: auto
}
  img {
    max-width: 100%;
  }

.trail-slides fade {
  display: none;
}

.prev, .next {
  cursor: pointer; 
  // position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  // color: white;
  font-weight: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px;
}

.slideshow-caption-text {
  // color: white;
  font-size: 12px;
  padding: 10px, 14px;
  // position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

.numbertext {
  color: white;
  font-size: 15px;
  padding: 10px, 14px;
  // position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

//Trail list



// .home.footer {
//   position: fixed;

//   width: 100%;
//   margin: 0 auto;
//   background-color: $slateblue;
//   height: 56px;
// }
