<div class="main-container">
<!-- Header -->
  <section class="hero is-default is-bold is-primary">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a href="../" class="navbar-item"><h1 class="title">hike<i class="fas fa-tree"></i>know</h1></a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right is-medium">
                <ul>
                  <li class="is-active">
                    <a>
                      <strong>Home</strong>
                    </a>
                  </li>
                  <li>
                    <a href="/alltrails">
                      <strong>All Trails</strong>
                    </a>
                  </li>
                  <li>
                    <a href="/settings">
                      <strong>Settings</strong>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fas fa-search"></i>
                    </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section> 

  <!-- Testing header -->
  <!-- <nav class="level">
    <div class="level-right">
        <div class="level-item">
            <h1 class="subtitle">Take off, eh!</p>
          </div>
    </div> 
  </nav> -->

<!-- Body -->
  <div class="columns">

<!-- Map -->
    <div class="column">
      <!-- <div class="container is-narrow"> -->

        <div class="mappy" map-lazy-load="https://maps.googleapis.com/maps/api/js"
        map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map center="21.4389,-158.0001" zoom="10">
          <marker ng-repeat="t in trailHeads" position="{{t.coordinates[1]}},{{t.coordinates[0]}}" title="{{t.trailname}}" id="{{t.id}}" on-click="showInfo(t.trailname)" animation="Animation.DROP" centered="true"></marker>      
        </ng-map>
      </div>
    <!-- </div> -->


<!-- Selected Hike section -->
      <div class="section">
        <h1 class="title">Where to, gumshoe?</h1>
        <h2 class="subtitle">Select a hike from the map or list</h2>
        <hr>
        <div class="field has-addons">
          <p class="control is-expanded">
            <input type="text" class="input" placeholder="Or find a hike here...">
          </p>
          <p class="control">
            <button type="submit" class="button is-primary"><i class="fas fa-search"></i></button>
          </p>
        </div>
      </div>


<!-- OPTION B. Trail TILE will show up when selected on map -->
    <div class="tile" ng-if="selected()">

      <div class="tile is-parent" ng-if="selectedHike.status === 'GOOD'">
        <article class="tile is-child box notification is-success">
          <h1 class="subtitle is-centered"><a ng-href="/trail/{{selectedHike.trailname}}">{{selectedHike.trailname}}</a></h1>
          <div class="card-footer">
            <div class="card-footer-item">
              <span>
                  {{selectedHike.length_m}} miles
              </span>
            </div>
            <div class="card-footer-item">
              <span>
                <strong>{{selectedHike.status}}</strong>
              </span>
            </div>
          </div>
        </article>
      </div>

      <div class="tile is-parent" ng-if="selectedHike.status === 'CAUTION'">
          <article class="tile is-child box notification is-warning">
            <h1 class="subtitle is-centered"><a ng-href="/trail/{{selectedHike.trailname}}">{{selectedHike.trailname}}</a></h1>
            <div class="card-footer">
              <div class="card-footer-item">
                <span>
                    {{selectedHike.length_m}} miles
                </span>
              </div>
              <div class="card-footer-item">
                <span>
                  <strong>{{selectedHike.status}}</strong>
                </span>
              </div>
            </div>
          </article>
        </div>

        <div class="tile is-parent" ng-if="selectedHike.status === 'DANGER'">
            <article class="tile is-child box notification is-danger">
              <h1 class="subtitle is-centered"><a ng-href="/trail/{{selectedHike.trailname}}">{{selectedHike.trailname}}</a></h1>
              <div class="card-footer">
                <div class="card-footer-item">
                  <span>
                      {{selectedHike.length_m}} miles
                  </span>
                </div>
                <div class="card-footer-item">
                  <span>
                    <strong>{{selectedHike.status}}</strong>
                  </span>
                </div>
              </div>
            </article>
          </div>

          <div class="tile is-parent" ng-if="selectedHike.status === 'UNKNOWN'">
              <article class="tile is-child box notification is-outlined">
                <h1 class="subtitle is-centered"><a ng-href="/trail/{{selectedHike.trailname}}">{{selectedHike.trailname}}</a></h1>
                <div class="card-footer">
                  <div class="card-footer-item">
                    <span>
                        {{selectedHike.length_m}} miles
                    </span>
                  </div>
                  <div class="card-footer-item">
                    <span>
                      <strong>Condition: {{selectedHike.status}}</strong>
                    </span>
                  </div>
                </div>
              </article>
            </div>

    </div>


    </div> <!--closing map column-->


<!-- LIST (table) of All trails -->
<div class="column">

<div class="card">
    <header class="card-header">
      <h1 class="card-header-title is-1 is-centered">Oahu Trails</h1>
      <div class="buttons has-addons">
          <span class="button is-success is-selected">m</span>
          <span class="button">km</span>
        </div>
        
        <div class="buttons has-addons">
          <span class="button">m</span>
          <span class="button is-info is-selected">km</span>
      </div>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is striped">
            <tbody>
              <tr ng-repeat="trail in trails | filter : test">
                  <td><a ng-href="/trail/{{trail.trailname}}">{{trail.trailname}}</a></td>
                  <td>{{trail.length_m}} miles</td>
                  <td ng-if="trail.status === 'GOOD'"><a class="button is-success" href="/trail/{{trail.trailname}}">Good!</a></td>
                  <td ng-if="trail.status === 'CAUTION'"><a class="button is-warning" href="/trail/{{trail.trailname}}">Caution!</a></td>
                  <td ng-if="trail.status === 'DANGER'"><a class="button is-danger" href="/trail/{{trail.trailname}}">Danger!</a></td>
                  <td ng-if="trail.status === 'UNKNOWN'"><a class="button is-outlined" href="/trail/{{trail.trailname}}">Unknown</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="/all" class="card-footer-item">View All</a>
    </footer>
  </div>
</div> 
  
    
</div>