<!-- <h1> Home Home Home. </h1> -->
<div class="main-container">
  <header class="header-bar">
    <div class="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
    <h1 class="title"> Hike<i class="fas fa-tree"></i>Now </h1>
    <div class="search-wrapper">
        <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="What're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
        </form>
      </div>
    <!-- <div id="wrap">
      <form action="" autocomplete="on">
      <input type="text" name="search" placeholder="?">
      <a href="#"><i class="fas fa-search"></i></a>
    </div> -->
    <!-- <div class="header-filler-column"></div> -->
  </header>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>

  <div class="slideshow-wrapper">
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="trail-slides fade">
        <div class="numbertext">1 / 3</div>
        <img src="http://honolulumagazine-images.dashdigital.com/images/2017/12-17/oahu-hike-month-kuliouou-ridge-view.jpg?ver=1511836570"
          alt="Kuliʻouʻou Ridge Trail">
        <div class="slideshow-caption-text">Kuliʻouʻou Ridge Trail</div>
      </div>

      <div class="trail-slides fade">
        <div class="numbertext">2 / 3</div>
        <img src="http://honolulumagazine-images.dashdigital.com/images/2018/02-18/hike-we-like-kealia-trail-view.jpg?ver=1517529316"
          alt="Keālia Trail">
        <div class="slideshow-caption-text">Keālia Access Road and Trail</div>
      </div>

      <div class="trail-slides fade">
        <div class="numbertext">3 / 3</div>
        <img src="http://honolulumagazine-images.dashdigital.com/images/2017/11-17/hike-of-the-month-judd-trail-jackass-ginger-pool.jpg?ver=1509592826"
          alt="Judd Trail">
        <div class="slideshow-caption-text">Judd Trail</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div><!-- closing slideshow container -->
  </div>





  <ul class="good-condition-trails">
    <li ng-repeat="trails in trails">
      <a href="/trails/good">{{ trail.name }}</a>
      <!--change this later !-->
      : {{ trail.length }}
    </li>
  </ul>

  <!-- <footer class="home-footer">
    <input type="text" placeholder="Search...">
    <a href="#"><i class="fas fa-search"></i></a>
  </footer> -->

</div>
<!-- closing main -->
<h1> Home Home Home. </h1>
<div>
  <input type="text" placeholder="search trail name" ng-model="test">
</div>
<ul>
  <li ng-repeat="trail in trails | filter : test">
    <h2><a ng-href="/trail/{{ trail.trailname }}">trail: {{trail.trailname}}</a></h2>
    <h3>length: {{trail.weather.length}} m</h3>
    <h3>elevation: {{trail.weather.elev}} ft</h3>
    <h3>temperature: {{trail.weather.weatherConditions.temp_f}} f</h3>
    <h3>wind mph: {{trail.weather.weatherConditions.wind_mph}} mph</h3>
    <h3>condition: {{trail.weatherStatus}}</h3>
  </li>
</ul>
