<div class="main-container">
  <header>
    <div class="menu-icon">Menu lines icon goes here</div>
  </header>
  

  <div class="sub-head-container">
    <div class="sub-head">
      <div class="is-size-4 hike-name-container">{{trail.name}} </div>
      <div class="is-size-6 hike-length">length: {{trail.details.length}}mi </div>
    </div>
  </div>
  <div class="{{trail.status}}">
  <div class="mappy" map-lazy-load="https://maps.googleapis.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="{{trail.details.coordinates[1]}},{{trail.details.coordinates[0]}}" zoom="13">
        <marker position="{{trail.details.coordinates[1]}},{{trail.details.coordinates[0]}}" animation="Animation.BOUNCE" centered="true"></marker>
    </ng-map>
  </div>

  <div class="container has-text-centered hike-report-container">

    <div class="container hike-status-container">
      <div class="{{trail.status}}"> {{trail.status}}</div>
    </div>
  </div>
</div>
    <!-- closing hike status container -->

    <div class="container has-text-centered hike-summary-container">
      <div class="hike-timestamp-container">
        <div class="hike-timestamp-data">{{trail.details.weatherConditions.observation_time}}</div>
      </div>
    </div>

    <div class="has-text-centered hike-conditions-container">
      
        <div class="columns hike-trio-conditions-row">
          <div class="column weather-condition">
            <div class="block">
              climate:{{trail.details.weatherConditions.weather}}
            </div>
          </div>
          <div class="column has-text-centered wind-condition">
            <div class="block">
              wind:{{trail.details.weatherConditions.wind_mph}}
            </div>
          </div>
          <div class="column mud-icon">
            <div class="block">
              rain:[Rain/Wetness/Mud]
            </div>
          </div>
        </div>
      

      <div class="columns ">
        <div class="column temp-data">
          <div class="block">
            {{trail.details.weatherConditions.temp_f}} F
          </div>
        </div>
        <div class="column sunlight-container">
          <div class="block sunrise-row">
            <div class="sunrise-label">Sunrise: 6:45AM, Sunset: 7:00PM</div>
          </div>
        </div>
      </div>
    </div>
  

  <div class="container has-text-centered hike-details-container">
    <div class="columns">
      <div class="column">
        <div class="block hike-detail-length">length:{{trail.details.length}}</div>      
      </div>
      <div class="column">
        <div class="block hike-detail-elev">elevation: {{trail.details.elev}} ft</div>
      </div>
      <div class="column">
        <div class="block hike-detail-difficulty">difficulty: {{trail.details.standard}}</div>
      </div>
    </div>


  </div>
  <!-- closing hike details container -->

  <footer><button class="descBtn">description</button></footer>


</div>
<!-- closing main -->