@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
* {
  font-family: 'Lato', sans-serif;
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: #55A4A8;
  color: white;
  padding: 10px; }

.menu-icon {
  color: white; }

.title {
  font-size: 20px; }

.search-wrapper {
  margin: 50px;
  display: inline-block;
  position: relative;
  padding: 0;
  position: relative; }

input[type="text"] {
  font-size: 20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer; }

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB; }

input[type="text"]:focus {
  width: 100px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text; }

input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: red;
  text-indent: -1000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease; }

input[type="submit"]:hover {
  opacity: 0.8; }

.slideshow-wrapper {
  display: flex; }

.slideshow-container {
  max-width: 600px;
  margin: auto; }

img {
  max-width: 100%; }

.trail-slides fade {
  display: none; }

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px; }

.slideshow-caption-text {
  font-size: 12px;
  padding: 10px, 14px;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.numbertext {
  color: white;
  font-size: 15px;
  padding: 10px, 14px;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/* styles in src/style directory are applied to the whole page */
body {
  width: 100%;
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
}
.main-container{
  width: 100vw;
  display: flex;
  flex-direction: column; 
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.mappy {
  display: flex;
  flex-direction: column;
}

ng-map {
  height: 40%;
  padding: 0;
  width: 90%;
  
}

