/* styles in src/style directory are applied to the whole page */
body {
  
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  
}

footer {
  text-align: center;
  font-size: 0.8em;
}


.mappy {
  height: 40%;
  width: 70%;
}


