/* styles in src/style directory are applied to the whole page */
body {
  width: 100%;
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
}
.main-container{
  width: 100vw;
  display: flex;
  flex-direction: column; 
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.mappy {
  display: flex;
  flex-direction: column;
}

ng-map {
  height: 40%;
  padding: 0;
  width: 90%;
  
}

